html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;
  color: #464040;
  line-height: 1.8;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Lora", Arial, serif;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #0aa9ec;
  outline: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

input {
  font-family: "Lora", Arial, serif;
}

#container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding-top: 50px;
}
@media (max-width: 87.4375em) {
  #container {
    grid-template-columns: 75% 25%;
  }
}
@media (max-width: 63.9375em) {
  #container {
    grid-template-columns: 100%;
  }
}

#center {
  border-left: 1px solid #e6e6e67a;
  border-right: 1px solid #e6e6e67a;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header form {
  width: 50%;
}

.search {
  width: 100%;
  position: relative;
}
.search input {
  background: #fff !important;
  border: 1px solid #7cd1f5 !important;
  color: black;
  font-size: 0.9375rem;
  padding: 0.2rem;
  line-height: 2;
  outline: none;
  border-color: green;
  width: 100%;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 10px;
}
.search #icon-search {
  position: absolute;
  right: 10px;
  top: 13px;
  color: #7cd1f5;
  cursor: pointer;
}

@media (max-width: 87.4375em) {
  #left {
    display: none;
  }
}

.nav {
  position: fixed;
  height: calc(100vh - 60px);
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}
.nav__author {
  background-size: cover;
  background-position: center;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Abril Fatface", cursive;
  font-size: 4.625rem;
  line-height: 0.8;
  min-height: 5rem;
  margin-bottom: 30px;
}
.nav__mail {
  margin-bottom: 30px;
}
.nav__footer {
  margin-bottom: 30px;
}
.nav ul {
  padding-left: 0px;
}
.nav li {
  font-size: 1.125rem;
  font-weight: 600;
}
.nav a {
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  width: 100%;
  display: block;
  text-align: center;
}
.nav a:hover {
  color: black;
}
.nav__input {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.nav input {
  background: #fff !important;
  border: 1px solid #7cd1f5 !important;
  color: black;
  font-size: 0.9375rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 0.3rem;
  width: 100%;
  line-height: 2;
  outline: none;
}
.nav #sendMail {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
}
.nav label {
  font-family: "Lora", Arial, serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.menu--home {
  background: linear-gradient(45deg, #0aa9ec 50%, transparent 0) right/250% 100% no-repeat, linear-gradient(45deg, transparent 50%, #0aa9ec 0) left/250% 100% no-repeat;
  transition: 0.5s;
}
.menu--home:hover {
  background-position: center;
  color: #fff !important;
  text-align: center;
}
.menu--php {
  background: repeating-linear-gradient(#0aa9ec 0 8px, transparent 0 16px) left/var(--d, 0) 100% no-repeat, repeating-linear-gradient(transparent 0 8px, #0aa9ec 0 16px) right/var(--d, 0) 100% no-repeat;
  transition: 0.5s;
}
.menu--php:hover {
  --d: 100%;
  color: #fff !important;
  text-align: center;
}
.menu--nodejs {
  background: linear-gradient(#0aa9ec 0 0) left var(--p, 50%) bottom 0/var(--d, 20px) 3px no-repeat, linear-gradient(#0aa9ec 0 0) right var(--p, 50%) bottom 0/var(--d, 20px) 3px no-repeat;
  transition: 0.3s, background-position 0s;
}
.menu--nodejs:hover {
  --d: 100%;
  --p: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
  text-align: center;
}
.menu--devops {
  background: linear-gradient(90deg, transparent, #0aa9ec, transparent) bottom/var(--d, 0) 3px no-repeat;
  transition: 0.5s;
}
.menu--devops:hover {
  --d: 100%;
}
.menu--author {
  background: linear-gradient(#0aa9ec 0 0) var(--p, 100%) 0, linear-gradient(#0aa9ec 0 0) 0 var(--d, 0), linear-gradient(#0aa9ec 0 0) var(--d, 0) 100%, linear-gradient(#0aa9ec 0 0) 100% var(--p, 100%);
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s, background-position 0s 0.5s;
}
.menu--author:hover {
  --d: 100%;
  --p: 0% ;
}

#right {
  background-color: #e4e6e845 !important;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
}
@media (max-width: 63.9375em) {
  #right {
    display: none;
  }
}

.right__title h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.article {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}
.article a {
  min-width: 80px;
  height: 80px;
  display: block;
  padding-right: 5px;
  background-position: center;
  background-size: cover;
}
.article__infor {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 0.75rem;
}
.article__title {
  padding-left: 10px;
}
.article__title h4 {
  font-size: 0.9375rem;
  font-weight: normal;
}
.article h4 a {
  width: 100%;
  height: unset;
}

.post {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 63.9375em) {
  .post {
    flex-direction: column;
  }
}
.post__title a {
  font-family: "Lora", Arial, serif;
  color: black;
  font-weight: 400;
  font-size: 1.875rem;
}
.post__title a:hover {
  color: #0aa9ec;
}
.post__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 63.9375em) {
  .post__image {
    width: 100%;
    border-radius: 5px;
  }
}
.post__content {
  padding-left: 10px;
  width: calc(100% - 150px);
}
@media (max-width: 63.9375em) {
  .post__content {
    width: 100%;
  }
}
.post__subtitle {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
