#left{
  @include breakpoint-down(large){
    display: none;
  }
}

.nav{
  position: fixed;
  height: calc(100vh - 50px);
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  &__author{
    background-size: cover;
    background-position: center;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "Abril Fatface", cursive;
    font-size: 3.625rem;
    line-height: 0.8;
    min-height: 5rem;
    margin-bottom: 30px;
  }
  &__mail{
    margin-bottom: 30px;
  }

  &__footer{
    margin-bottom: 30px;
  }

  ul{
    padding-left: 0px;
  }

  li{
    font-size: $font-md;
    font-weight: 600;
  }
  a {
    color: $nav-color;
    padding: 5px 10px;
    width: 100%;
    display: block;
    text-align: center;
  }
  a:hover{
    color: black;
  }
  &__input{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  input {
    background: #fff !important;
    border: 1px solid #7cd1f5 !important;
    color: black;
    font-size: $font-sm;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 0.3rem;
    width: 100%;
    line-height: 2;
    outline: none;
  }
  #sendMail{
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;

  }

  label{
    font-family: "Lora", Arial, serif;
    font-size: $font-md;
    font-weight: 600;
  }

  &.mobile{
    display: none;
  }
  &.active{
    @include breakpoint-down(medium){
      width: 100%;
    }
    display: block;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
  }
}

.menu {
  &--home{
    background:
      linear-gradient(45deg, $nav-origin-color 50%, transparent 0) right /250% 100% no-repeat,
      linear-gradient(45deg, transparent 50%, $nav-origin-color 0) left /250% 100% no-repeat;
    transition: 0.5s;
  }
  &--home:hover{
    background-position: center;
    color: #fff !important;
    text-align: center;
  }

  &--php{
    background:
      repeating-linear-gradient($nav-origin-color 0 8px, transparent 0 16px) left /var(--d, 0) 100% no-repeat,
      repeating-linear-gradient(transparent 0 8px, $nav-origin-color 0 16px) right/var(--d, 0) 100% no-repeat;
    transition: 0.5s;
  }
  &--php:hover{
    --d: 100%;
    color: #fff !important;
    text-align: center;
  }

  &--nodejs {
    background: 
      linear-gradient($nav-origin-color 0 0) left  var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat,
      linear-gradient($nav-origin-color 0 0) right var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat;
    transition: 0.3s, background-position 0s;
  }
  &--nodejs:hover {
    --d: 100%;
    --p: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
    text-align: center;
  }

  &--devops{
    background: 
      linear-gradient(90deg, transparent, $nav-origin-color, transparent) 
      bottom /var(--d, 0) 3px no-repeat;
    transition: 0.5s;
  }
  &--devops:hover{
    --d: 100%;
  }

  &--author{
    background:
      linear-gradient($nav-origin-color 0 0) var(--p, 100%) 0,
      linear-gradient($nav-origin-color 0 0) 0 var(--d, 0),
      linear-gradient($nav-origin-color 0 0) var(--d, 0) 100%,
      linear-gradient($nav-origin-color 0 0) 100% var(--p, 100%);
    background-size: var(--d, 0) 3px, 3px var(--d, 0);
    background-repeat: no-repeat;
    transition: 0.5s, background-position 0s 0.5s;
  }
  &--author:hover{
    --d: 100%;
    --p: 0%
  }
}