// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$body-color: #464040;
$border-color: #e6e6e67a;
// Font Sizes
$font-sm: 0.9375rem; // 15:16 -> 0.9375
$font-md: 1.125rem; //18px;
$font-lg: 1.25rem;
$font-xlg: 3.25rem; //52px
$font-title: 1.875rem; //30px;
